@CHARSET "UTF-8";

html {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* Map resize automatically */
#map-canvas {
	width: 100%; 
	height: 300px;
	margin: 0;
	padding: 20px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #ffa726;
}

.input-field input[type=number]:focus + label {
	color: #ffa726;
}

.input-field input[type=email]:focus + label {
	color: #ffa726;
}

.input-field input[type=password]:focus + label {
	color: #ffa726;
}

.input-field textarea[type=text]:focus + label {
	color: #ffa726;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #ffa726;
    box-shadow: 0 1px 0 0 #ffa726;
}

.input-field input[type=number]:focus {
	border-bottom: 1px solid #ffa726;
    box-shadow: 0 1px 0 0 #ffa726;
}

.input-field input[type=email]:focus {
	border-bottom: 1px solid #ffa726;
    box-shadow: 0 1px 0 0 #ffa726;
}

.input-field input[type=password]:focus {
	border-bottom: 1px solid #ffa726;
    box-shadow: 0 1px 0 0 #ffa726;
}

.input-field textarea[type=text]:focus {
	border-bottom: 1px solid #ffa726;
    box-shadow: 0 1px 0 0 #ffa726;
}


/* icon prefix focus color */
.input-field .prefix.active {
	color: #ffa726;
}

/*DATEPICKER COLORS*/
.picker { outline: none; } /* Optional feature */
/* Header - Day of the week */
.picker__weekday-display { background-color: #f57c00; }
/* Body - Today info */
.picker__date-display { background-color: #ffa726; }
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #fff3e0; }
.picker__nav--next:hover { background-color: #fff3e0; }
.picker__nav--prev:before {
  	border-left: 0;
  	border-right: 0.75em solid #ffb74d;
}
.picker__nav--next:before {
  	border-right: 0;
  	border-left: 0.75em solid #ffb74d;
}
.picker__today { color: #fb8c00; }
.picker__clear { /* If you want to customize */ }
.picker__close { color: #fb8c00; }
.btn-flat.picker__today:active { background-color: #fff3e0; }
.btn-flat.picker__close:active { background-color: #fff3e0; }
.btn-flat.picker__clear:active { background-color: #fff3e0; }
/* Select months of the year */
.picker__select--month.browser-default {
  	display: inline;
  	background-color: #FFFFFF;
 	width: 34%;
  	border: none;
  	outline: none;
}
/* Every month of the year except: today */
.picker__day { /* If you want to customize */ }
.picker__day:hover { /* If you want to customize */ }
.picker__day--infocus:hover { color: #f57c00; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: #ffffff; }
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color:  #ffa726; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #ffa726; }
.picker__day.picker__day--today { color: #f57c00; }
